<div class="container login-form">
  <div class="container">
  </br></br>
      <div class="row align-center">
        <a className="navbar-brand" href="/">
          <img src="https://dl.dropboxusercontent.com/u/4448887/seinfood/Seinfeld.png"
               className="img" width="160" height="50"/>
        </a>
      </div>
    </br></br>

      <div class="row align-center">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 login-group-left">
          <h3>Returning user: sign in!</h3>
          <form action=" <%= session_url %>" method="POST" role="form">

              <div class="form-group">
                <label>
                  Email:
                  <input type="text" class="form-control" name="user[email]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  Password:
                  <input type="password" class="form-control" name="user[password]">
                </label>
              </div>

            <%= form_auth %>

            <button type="submit" class="btn btn-default">Sign In</button>

          </form>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 login-group-right">
          <h3>New user: sign up!</h3>
            <form action="<%= users_url %>" method="POST" role="form">
              <div class="form-group">
                <label>
                  Name:
                  <input type="text" class="form-control" name="user[name]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  Email:
                  <input type="text" class="form-control" name="user[email]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  Password:
                  <input type="password" class="form-control" name="user[password]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  Address:
                  <input type="text" class="form-control" name="user[address]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  City:
                  <input type="text" class="form-control" placeholder="New York City" name="user[city]">
                </label>
              </div>

              <div class="form-group">
                <label>
                  State:
                  <input type="text" class="form-control" placeholder="New York" name="user[state]">
                </label>
              </div>

              <%= form_auth %>
              <div class="row text-center">
                <button type="submit" class="btn btn-default">Sign Up</button>
              </div>
            </form>
          </div>

      </div>
  </div>

  <div class="row align-center">
    <div class="row login-group-bottom">
      <h1> -or- </h1>
          <form action=" <%= session_url %>" method="POST" role="form">
            <input type="hidden" class="form-control" name="user[email]" value="test@email.com">
            <input type="hidden" class="form-control" name="user[password]" value="password">

            <%= form_auth %>

            <button type="submit" class="btn btn-default guest-button">Sign In as Guest</button>
          </form>
     </div>
   </div>
</div>
